header{
    background-color: #000;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding:1em 0.5em;
    color: #fff;
}

header div{
    display: flex;
    gap: 2em;
}

header> button{
    background-color: rgb(196, 196, 29);
    padding: 1em 2em;
    color: #fff;
}

main {
   display: flex;  
   height: 90vh;
}

main >.navigation{
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
    width: 15em;
    border: 1px solid black;

}

.navigation hr {
    width: 100%;
}

.pi-chart-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.pi-chart-container > div{
  
    width: 90%;
    display: flex;
    
    
    
    background-color: rgb(118, 117, 117);
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 0.2em 0.5em;
    font-weight: 100;
}

.data-container{
    color: #fff;
}

